html {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 0%, 90%, 1);
    background-image:
        radial-gradient(at 99% 0%, hsla(216, 89%, 18%, 0.87) 0px, transparent 50%),
        radial-gradient(at 0% 99%, hsla(212, 42%, 64%, 1) 0px, transparent 50%);

    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.logo {
    position: absolute;
    height: auto;
    left: 0px;
    width: 200px;
    padding-top: 15px;
}

.nav {
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 30px;
}



.buttons {

    padding-inline-start: 0px;
    list-style: none;
    flex: 1;
    text-align: right;

}

.nav ul li {
    display: inline;
    margin: 6px;

}

a {
    text-decoration: none;
}

.nav ul li .nav-link {

    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 15px;
    color: #fff;

}

.nav-link:hover {
    text-decoration: none;
    background-color: rgba(37, 34, 30, 0.108);


}

.log-link {

    text-decoration: none;
    padding: 8px 20px;
    margin: 6px;
    border-radius: 20px;
    transition: background-color 0.3 ease;
    color: #fff;
    background-color: #6496d4;
}

.log-link:hover {
    background-color: #0a387d;
    color: #fff;
}

.table {
    width: 800px;
    height: 500px;
    margin: auto;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(237, 235, 235);
    align-items: center;
    background-color: white;
    overflow: hidden;

}

.thead {

    color: #000;
    padding: 15px;
    font-size: 25px;


}

.thead:hover {
    text-decoration: underline;
}

.links {
    padding: 0 15px;
    margin: auto;
    color: #000000b2;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
    letter-spacing: 0.5px;
    font-size: 15px;

}

.links:after {
    content: "";
    position: absolute;
    background-color: #6496d4;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;


}

.links:hover {
    color: #000
}

.links:hover:after {
    width: 95%;

}

.tasks {
    padding: 15px;
    display: inline-block;


}

.h {
    width: 100%;
    transition: 1s;
    position: absolute;

}

.m {
    width: 100%;
    transition: 1s;
    position: absolute;

}

.l {
    width: 100%;
    transition: 1s;
    position: absolute;
}

.tasks a {
    color: #000;

}

#medium {
    left: 900px
}

#low {
    left: 1200px
}

#high {
    left: 15px
}

hr {
    border-top: #ffffffab;
}
.table {
    width: 600px;
}

.sticker {
    position: absolute;
    bottom: 50px;
    right: 10px;
    width: 410px;
    height: auto;
    z-index: 999;
    mix-blend-mode: multiply;
    opacity: .9;
}
