{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/availableTasks.css' %}">
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Taskify - Home</title>
</head>

<body>
    <div class="nav">
        <img src="{% static 'images/result1.png' %}" class="logo">
        <div class="buttons">
            <ul>
                <li><a class="nav-link" href="/availableTasks/">Home</a></li>
                <li><a class="nav-link" href="/completed/">Completed Tasks</a></li>
                <li><a class="log-link" href="{% url 'logout' %}">Log Out</a></li>
            </ul>
        </div>
    </div>
    <header>
        <h2 style="text-align: center;color:#0a387d"> Welcome back,<span id="user">{{ request.user }}</span>.</h2>
    </header>
    <div class="table">
        <h3 class="thead"> My available Tasks</h3>

        <nav>
            <a href="#" class="links" onclick="upcoming()">High Priority</a>
            <a href="#" class="links" onclick="overdue()">Medium Priority</a>
            <a href="#" class="links" onclick="completed()">Low Priority</a>
        </nav>
        <hr>
        <div class="tasks">
            <div id="upcom" class="st">
                {% for task in tasks %}
                {% if task.choose == 'High' %}
                <p><a href="{% url 'available_task_detail' task.id %}">{{ task.title }}</a></p>
                {% endif %}
                {% endfor %}
                <hr>
            </div>

            <div id="ovrdu" class="nd" style="display:none;">
                {% for task in tasks %}
                {% if task.choose == 'Medium' %}
                <p><a href="{% url 'available_task_detail' task.id %}">{{ task.title }}</a></p>
                {% endif %}
                {% endfor %}
            </div>

            <div id="cmplt" class="rd" style="display:none;">
                {% for task in tasks %}
                {% if task.choose == 'Low' %}
                <p><a href="{% url 'available_task_detail' task.id %}">{{ task.title }}</a></p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/availableTasks.js' %}"></script>
    <script>
        function upcoming() {
            document.getElementById("upcom").style.display = "block";
            document.getElementById("ovrdu").style.display = "none";
            document.getElementById("cmplt").style.display = "none";
        }

        function overdue() {
            document.getElementById("upcom").style.display = "none";
            document.getElementById("ovrdu").style.display = "block";
            document.getElementById("cmplt").style.display = "none";
        }

        function completed() {
            document.getElementById("upcom").style.display = "none";
            document.getElementById("ovrdu").style.display = "none";
            document.getElementById("cmplt").style.display = "block";
        }
    </script>
</body>

</html>
{% endblock content %}
