body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color:hsla(0,0%,90%,1);
    background-image:
    radial-gradient(at 99% 0%, hsla(216,89%,18%,0.87) 0px, transparent 50%),
    radial-gradient(at 0% 99%, hsla(212,42%,64%,1) 0px, transparent 50%);
    
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
   

}
.logo{
    position: absolute;
    height:auto;
    left: 0px;
    width: 230px;
    padding-top: 15px;
  
   
  
}
.buttons{
   
    padding-inline-start: 0px;
    list-style: none;
    flex:1;
   text-align: right;
   
}
.nav{
    display: flex;
    width: 100%;
    align-items: center;
}
label{
    color:#0a387d
}
.header{
    padding-left: 25px;
   color: #6496d4;
   text-align: left;
   margin:0px;
    
}

.nav ul li{
    text-align: right;
    display:inline;
    margin:6px;
    
}
a{
    text-decoration: none;
}

.nav ul li .nav-link{
    
    border-radius: 30px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 15px 15px;
    color: #fff;

}

.nav-link:hover{
    text-decoration: none;
background-color: rgba(37, 34, 30, 0.108);

    
}
.log-link{
    
    text-decoration: none;
    padding: 8px 20px;
    margin: 6px;
    border-radius: 20px;
    transition: background-color 0.3 ease;
    color: #fff;
    background-color: #6496d4;
}
.log-link:hover{
    background-color: #0a387d;
    color: #fff;
}
.add{
    width:700px;
    height:760px;
    margin :auto;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(237, 235, 235);
    align-items: left;
    background-color: white;
    padding:15px;
   /* right:10% */

}

select{
    width: 95%;
    padding: 10px ;
    margin: 10px auto;
    outline: none;
    background-color: transparent;
    border-radius: 9px;
    border-color: rgb(197, 217, 235);
    border-style: solid;
    border-width: 2.3px;
    font-size: medium;
   
}

hr{
    border-top: #ffffffab;
}
label{
    margin-bottom: 5px;
    padding-top: 10px;
}
.input{
    border-style: solid;
    width: 95%;
    padding: 10px ;
    margin: 10px auto;
    outline: none;
    background-color: transparent;
    border-radius: 9px;
    border-color: rgb(197, 217, 235);
    

}
.error{
    color:rgba(255, 0, 0, 0.867);
    padding-top: 5px;
    display: none;
    font-size: small
}
.display-error{
    display:block;
    transform: translateY(-20PX);
}
.successed{
    display: none;
    color:rgb(16, 201, 16);
    padding-top: 20px;
    font-size: large;
    transition: 0.4s;
    
}
.display-success{
   display: block;
    transform: translateY(-20PX);
  
}
button {
  cursor: pointer;
    text-align: center;
    padding:10px;
    font-size: medium;
    background-color: #6496d4;
    border-radius: 30px;
    width: 15%;
    /* height: 30%; */
    border: transparent;
    color:white
}
textarea{
    display: inline;
    border-color: rgb(197, 217, 235);
    border-style: solid;
    border-radius: 9px;
    border-width: 2.3px;
    width: 50%;
    height: 10%;
    margin: 0 auto;
    overflow-x: hidden;
}